enviroment = "DEVELOP"
# Postgres Citus Connection
host = "172.10.0.5"
user = "user1"
port = 5432
database = "db1"
password = "Password1"

# notifications
SMSC_IP = "192.168.0.1"
SMSC_PORT = 1000
SYSTEM_ID = "username"
SYSTEM_PASS = "password"
SENDER_ID = "78964" # origen to send sms
SYSTEM_TYPE = "smpp"
MONITOR_PHONE=["50551035896"]

WEBHOOK = "https://digitalreef0.webhook.office.com/webhookb2/xxxxxxxxx"
